
*{
	color: #777777;
	box-sizing: border-box;
	font-size: 12px;
}

header{
	background: #4aaaa5;
	width: 20%;
	align-content: center;
	text-align: center;
	padding: 15px;
	margin-left: 150px;
	margin-right: 500px;
	float: left;
	font-family:'Georgia', Times, Times New Roman, serif;

}

h1{
	font-size: 30px;
	color: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
}

h2{
	color: #4aaaa5;
	font-size: 28px;
	margin-left: 30px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	
	
}

h3{
	color: #4aaaa5;
	font-size: 22px;
	margin-left: 30px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	
}

h4{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #ffffff;
}

p{
	font-size: 16px;
	line-height: 20px;
}

input{
	background-color: #ffffff;
	border-color: #dddddd;
	border-style: solid;
	border-width: 2px;
	width: 100%;
	line-height: 20px
	
}

.title{
	background-color: #ffffff;
	border-bottom-color: #666666;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	width: 90%;
	padding: 10px 0px 10px 0px;
	margin: 10px;
}

#navbar{
	align-content: center;
	text-align: center;
	padding-top: 25px;
	list-style: none;


}

#navbar li{
	float: left;
}

#navbar li a{
	display: inline-block;
	text-align: center;
	padding-right: 16px;
	text-decoration: none;
	font-size: 17px;
}



#maincontent{
	clear: both;
	width: 100%;
	height: 850px;
	margin: 0 auto;
	position: relative;
	background-image: url("../images/dark_embroidery.png");
	border-style: solid;
	border-top-color: #dddddd;
	border-bottom-color: #4aaaa5;
	border-top-width: 5px;
	border-bottom-width:5px;
		
	
}


#mainbody{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #ffffff;
	border-color: #dddddd;
	border-style: solid;
	border-width: 5px;
	width: 650px;
	height: 750px;
	padding: 20px;
	margin:50px; 
	align-content: center;
	position: absolute;
	top: 0px;
	left: 75px;
	

}


#myimage{
	width: 175px;
	height: 175px;
	float: left;
	margin: 20px;
	
}

.socialimage{
	width: 50px;
	height: 50px;
	margin: 10px;

}


.block{
	width: 200px;
	height: 150px;
	margin: 25px 50px 25px 50px;

}

.block a{
	text-decoration: none;
}


#block1{
	position:absolute;
	top: 70px; 
	left: 0px;

}

#block2{
	position:absolute;
	top: 70px; 
	right: 0px;

}

#block3{
	position:absolute;
	top: 270px; 
	left: 0px;

}

#block4{
	position:absolute;
	top: 270px; 
	right: 0px;

}

#block5{
	position:absolute;
	top: 470px; 
	left: 0px;

}

.portfolioimage{
	
	width: 100%;
	height: 100%;
}

.banner{
	background: #4aaaa5;
	color: #ffffff;
	align-content: center;
	text-align: center;
	padding: 10px;
	font-family:'Georgia', Times, Times New Roman, serif;
	font-size: 16px;
	width: 100%;
	position:absolute;
	bottom: 5px;
	right: 0px;
}

#connect{
	align-content: center;
	font-family: 'Georgia', Times, Times New Roman, serif;
	width: 270px;
	padding: 20px;
	margin: 50px;
	background-color: #ffffff;
	border-color: #dddddd;
	border-style: solid;
	border-width: 5px;
	position: absolute;
	top: 0px;
	right: 75px;
	

}


#message{
	
	width: 99%;
	height: 400px;
	margin: 5px;
	border-width: 2px;
	border-color: #dddddd;
	border-style: solid;

}

#submit{
	background: #4aaaa5;
	color: #ffffff;
	align-content: center;
	text-align: center;
	padding: 10px;
	margin: 10px;
	float: left;
	font-family:'Georgia', Times, Times New Roman, serif;
	font-size: 16px;
	width: 20%;
}

#footer{
	clear: both;
	width: 100%;
	margin: 0 auto;
	background-color: #666666;
	padding: 20px;
	align-content: center;
	text-align: center;
	

}

@media (max-width: 980px) {
    
   header{
		margin-left:75px;
		margin-right: 250px;
    width: 20%;
    float: left;
  }

  #navbar{
    float: left;
  }

   #main-content{
   	width: 100%;
  	align-content: center;
  	display: inline-block;
  	margin: 0 auto;
  }

   #main-body{
   	width: 70%;
   	float: left;
   	margin: 10px;
   }

   #connect{
   	width: 300%;
   	float: left;
   	margin: 10px;
   }
   #myimage{ 
   	width: 450px; 
   	height: 450px;
   	float: left;
   }
   p{float: left;}
}

@media (max-width: 768px) {

  header{
		margin-left:10px;
		margin-right: 250px;
  }

 	#myimage{ 
   	width: 200px; 
   	height: 200px;
   	margin: 5px;
   	float: left;
   }

   p{
   	float: left;
   }

   #main-content{
  	align-content: center;
  	display: inline-block;
  	margin: 0 auto;
  }

  #main-body{
  	width: 100%;
  	display: inline-block;
  	align-content: center;
  	margin: 10px;
  	padding: 10px;
  }

  #connect{
  	width: 100%;
  	display: inline-block;
  	align-content: center;
  	margin: 10px;
  	padding: 10px;
  }

}

@media (max-width: 640px) {

  header{
  	position:static;
  }

  #main-content{
  	align-content: center;
  	display: inline-block;
  	margin: 0 auto;
  }

  #main-body{
  	width: 100%;
  	display: inline-block;
  	align-content: center;
  	margin: 5px;
  	padding: 5px;
  	float: left;
  }

  #connect{
  	width: 100%;
  	display: inline-block;
  	align-content: center;
  	margin: 5px;
  	padding: 5px;
  	float: left;
  }

   #myimage{ 
   	width: 450px; 
   	height: 450px;
   	float: left;
   }

   p{ 
   	float: left; 
   }

   header{
   	width: 100%;
   	float:left;
   	margin: 0 auto;
   }

   #navbar{
   	width: 100%;
   	float: left;
   	}

   	#navbar li{
   		width: 30%;
   		border-left: 
   	}

   	#navbar li a{
   		font-size: 20px;
   		padding-bottom: 25px;
   	}

}

/*@media (max-width: 980px) {
    
   header{
		margin-left:75px;
		margin-right: 350px;
  }

   #main-content{
   	width: 100%;
  	align-content: center;
  	display: inline-block;
  	margin: 0 auto;
  }

   #main-body{
   	width: 70%;
   	float: left;
   	margin: 10px;
   }

   #connect{
   	width: 300%;
   	float: left;
   	margin: 10px;
   }
   #myimage{ 
   	width: 450px; 
   	height: 450px;
   	float: left;
   }
   p{float: left;}
}

@media (max-width: 768px) {

  header{
		margin-left:10px;
		margin-right: 250px;
  }

 	#myimage{ 
   	width: 200px; 
   	height: 200px;
   	margin: 5px;
   	float: left;
   }

   p{
   	float: left;
   }

   #main-content{
  	align-content: center;
  	display: inline-block;
  	margin: 0 auto;
  }

  #main-body{
  	width: 100%;
  	display: inline-block;
  	align-content: center;
  	margin: 10px;
  	padding: 10px;
  }

  #connect{
  	width: 100%;
  	display: inline-block;
  	align-content: center;
  	margin: 10px;
  	padding: 10px;
  }

}*/

/*@media (max-width: 640px) {

  header{
  	position:static;
  }

  #main-content{
  	align-content: center;
  	display: inline-block;
  	margin: 0 auto;
  }

  #main-body{
  	width: 100%;
  	display: inline-block;
  	align-content: center;
  	margin: 5px;
  	padding: 5px;
  	float: left;
  }

  #connect{
  	width: 100%;
  	display: inline-block;
  	align-content: center;
  	margin: 5px;
  	padding: 5px;
  	float: left;
  }

   #myimage{ 
   	width: 450px; 
   	height: 450px;
   	float: left;
   }

   p{ 
   	float: left; 
   }

   header{
   	width: 100%;
   	float:left;
   	margin: 0 auto;
   }

   #navbar{
   	width: 100%;
   	float: left;
   	}

   	#navbar li{
   		width: 30%;
   		border-left: 
   	}

   	#navbar li a{
   		font-size: 20px;
   		padding-bottom: 25px;
   	}

}*/